body {
  display: flex;
  align-items: center;
  height: 100vh;
}

.main {
  align-items: center;
  margin: auto;
  max-width: 500px;
  padding: 20px;
}

h1 {
  letter-spacing: 1px;
  font-family: 'Merriweather', serif;
}

input {
  height: 30px;
  width: 300px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 10px;
  margin-bottom: 20px;
}

.search {
  border: none;
  height: 40px;
  width: 300px;
  background-color: #34B3F1;
  margin-top: 10px;
}
